table, tr, td {
    border: 1px solid black;
    padding: 2px;
}

table {
    border-collapse: collapse;
    text-align: center;
    align-items: center;
}

th {
    padding: 1px 5px;
    text-align: center;
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
}

td {
    width: 80px;
}

.info_card_container {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types_container_info {
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: none;
    justify-content: center;
    align-items: center;
}