.cards_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
    width: fit-content;
}

.card_container {
    border: 1px solid lightgray;
    width: 100px;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}

.types_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: 40px;
}

.type_badge {
    border: 1px solid black;
    padding: 1px 2px;
    height: fit-content;
    border-radius: 5px;
}

.type_name {
    font-size: 12px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.loading_msg {
    text-align: center;
    position: relative;
    top: 700%;
    left: 100%;
    color: grey;
}